server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:

        - id: auth-service
          uri: http://127.0.0.1:8084
          predicates:
            - Path=/api/auth/**


        - id: llm-service
          uri: http://127.0.0.1:8083
          predicates:
            - Path=/api/llm/**
          filters:
            - AuthenticationFilter


        - id: interaction-service
          uri: http://127.0.0.1:8085
          predicates:
            - Path=/api/interactions/**
          filters:
            - AuthenticationFilter

        - id: user-service
          uri: http://127.0.0.1:8082
          predicates:
            - Path=/api/users/**
          filters:
            - AuthenticationFilter

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"

jwt:
  secret: ${JWT_SECRET}