server:
  port: 8085

spring:
  application:
    name: interaction-service

  datasource:
    url: jdbc:postgresql://localhost:5433/Interaction DB
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000